<?xml version="1.0" encoding="utf-8" ?>
<!-- based on: https://brutaldev.com/post/logging-setup-in-5-minutes-with-nlog -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

  <variable name="appName" value="Twitter Movie Titler" />

  <targets async="true">
    <target xsi:type="File"
            name="default"
            layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
            fileName="MovieTitler.log"
            keepFileOpen="false"
            archiveFileName="MovieTitler_${shortdate}.{##}.log"
            archiveNumbering="Sequence"
            archiveEvery="Day"
            maxArchiveFiles="30"
            />
    <target xsi:type="Console"
            name="console"
            layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
            />
  </targets>
  <rules>
    <logger name="*" writeTo="console" minlevel="Debug" />
    <logger name="*" writeTo="default" minlevel="Info" />
  </rules>
</nlog>